{% extends "base.html" %}

{% block title %}Administração: Gestão{% endblock %}

{% block content %}
 
	<section class="container shadow">

	{% block dashboard_content %}

		{% block dashborad_header %}
			
			<header>
				
				<ul class="nav nav-tabs">
					
						<li class="nav-item">
						   <a class="nav-link {% block menu_home %}active{%endblock%}" href="{% url 'core:dashboard' %}">Visão Geral</a>
						</li>
	 
						{% block dashborad_header_menu_content %}
						{%endblock%}

						<li class="nav-item dropdown">
						    <a class="nav-link dropdown-toggle {% block menu_config %}{%endblock%}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
						    <div class="dropdown-menu">
							    <a class="dropdown-item" href="#">Segurança</a>
							    <a class="dropdown-item" href="">Alterar perfil</a>
							    <div class="dropdown-divider"></div>
							    <a class="dropdown-item" href="#">Ajuda</a>
						    </div>
						  </li>
						</ul>

						{% block dashborad_header_content %}
						{%endblock%}

			</header>
		
		{%endblock%}

		{% block dashboard_body %}

			<p class="pl-5 mt-5 font-weight-bold">
				Bem-vindo 
				<span class="font-weight-normal">{{request.user.entidade.nome}}</span>
			</p>

			{% block dashboard_body_content %}
			{%endblock%}
	 
		{%endblock%}
	 
	{% endblock %} 

	</section>

{% endblock %}