{% extends "core/dashboard/base-dashboard.html" %}

{% block title %}Painel de Controle{% endblock %}

{% block content %}

 
  <section class="container shadow mt-4 pb-4">

		 {% if not request.user.grupo.cadastro_informal_iniciado %}

		  <header class="text-center" style="margin: auto;">
			 
				<h1 class="h3">Cadastro de Grupo Informal</h1>
				
		  </header>


			 <form class="p-4" style="max-width: 700px;margin: auto;" method="post">

				{% csrf_token %}

            <fieldset class="form-group form-row">


        <legend class="">Informações sobre o grupo informal</legend>
 
        <div class="form-group col-md-12">
          <label for="{{entidadeForm.nome.id_for_label}}">
            Nome do Completo
          </label>
          {% if entidadeForm.nome.errors %}
            <small>
              {{entidadeForm.nome.errors}}
            </small>
          {% endif %}
          {{entidadeForm.nome}}
          <small id="nome_representantelHelp" class="form-text text-muted">
            {{entidadeForm.nome.help_text}}
          </small>
        </div>

        <div class="form-group col-md-4">
          <label for="{{entidadeForm.uf.id_for_label}}">UF</label>
          {% if entidadeForm.uf.errors %}
            <small>
              {{entidadeForm.uf.errors}}
            </small>
          {% endif %}
          {{entidadeForm.uf}}
        </div>

        <div class="form-group col-md-5">
          <label for="{{entidadeForm.municipio.id_for_label}}">
            Município
          </label>
          {% if entidadeForm.municipio.errors %}
            <small>
              {{entidadeForm.municipio.errors}}
            </small>
          {% endif %}
          {{entidadeForm.municipio}}
        </div>

        <div class="form-group col-md-3">
          <label for="{{entidadeForm.cep.id_for_label}}">CEP</label>
          {% if entidadeForm.cep.errors %}
            <small>
              {{entidadeForm.cep.errors}}
            </small>
          {% endif %}
          {{entidadeForm.cep}}
          <small id="cep_representanteHelp" class="form-text text-muted">
            {{entidadeForm.cep.help_text}}
          </small>
        </div> 
 
        <div class="form-group">
          <label for="{{entidadeForm.telefone_celular.id_for_label}}">
            Fone Celuar
          </label>
          {% if entidadeForm.telefone_celular.errors %}
            <small>
              {{entidadeForm.telefone_celular.errors}}
            </small>
          {% endif %}
          {{entidadeForm.telefone_celular}}
          <small id="celularHelp" class="form-text text-muted">
            {{entidadeForm.telefone_celular.help_text}}
          </small>
        </div>

        <div class="form-group">
          <label for="{{entidadeForm.telefone_fixo.id_for_label}}">
            Telefone Fixo
          </label>
          {% if entidadeForm.telefone_fixo.errors %}
            <small>
              {{entidadeForm.telefone_fixo.errors}}
            </small>
          {% endif %}
          {{entidadeForm.telefone_fixo}}
          <small id="fixoHelp" class="form-text text-muted">
            Telefone fixo, caso tenha
          </small>
        </div>

        <div class="form-group">

          <label for="{{grupoInformalForm.ano_formacao.id_for_label}}">
           Ano de formação
          </label>

          {{grupoInformalForm.ano_formacao}}

          <small id="anoFormacaoHelp" class="form-text text-muted">
           {{grupoInformalForm.ano.help_text}}
          </small>
          
        </div>

            </fieldset>



  <fieldset class="form-group form-row">

		<div class="form-group col-md-12">
		  
		  <label>
			  É acessorado/acompanhado por alguma organização de assistência técnica pública ou privada?
		  </label>
		  
		  {% for option in grupoInformalForm.has_entidade_articulada %}
			 
			 <div class="custom-control custom-radio">
			 
				{{option.tag}}
				
				<label class="custom-control-label" for="{{option.id_for_label}}">
				  {{option.choice_label}}
				</label>
			 
			 </div>
		  
		  {% endfor %}
		
		</div>

		<div class="form-group  col-md-12" id="show-entidade-articulada"  style="display: none;">
		  
		  <label for="{{grupoInformalForm.entidade_articulada.id_for_label}}">
			 Nome  da organização
		  </label>
		  
		  {{grupoInformalForm.entidade_articulada}}
		  
		  <small id="entidadeArticuladaHelp" class="form-text text-muted">
			 Caso a reposta acima seja "Sim", forneça o nome da organização que faz o acompanhamento.
		  </small>

		</div>

		<div class="form-group col-md-4">

		  <label for="{{grupoInformalForm.reconhecimento_indigena.id_for_label}}">
			 Possui reconhecimento indígena?
		  </label>
		  
		  {% for option in grupoInformalForm.reconhecimento_indigena %}

			 <div class="custom-control custom-radio">
				
				{{option.tag}}
				
				<label for="{{option.id_for_label}}" class="custom-control-label">
				  {{option.choice_label}}
				</label>
			 
			 </div>

		  {% endfor %}

		</div>

		<div class="form-group col-md-4">

		  <label for="{{grupoInformalForm.reconhecimento_quilombola.id_for_label}}">
			 Possui reconhecimento quilombola?
		  </label>

		  {% for option in grupoInformalForm.reconhecimento_quilombola %}

			 <div class="custom-control custom-radio">

				{{option.tag}}

				<label for="{{option.id_for_label}}" class="custom-control-label">
				  
				  {{option.choice_label}}
				
				</label>
			 </div>

		  {% endfor %}
		
		</div>
		 

		<div class="form-group col-md-4">

		  <label for="{{grupoInformalForm.reconhecimento_economia_solidaria.id_for_label}}">
			 Possui reconhecimento de economia solidária?
		  </label>

		  {% for option in grupoInformalForm.reconhecimento_economia_solidaria %}

			 <div class="custom-control custom-radio">

				{{option.tag}}

				<label for="{{option.id_for_label}}" class="custom-control-label">
				  
				  {{option.choice_label}}
				
				</label>
			 </div>

		  {% endfor %}
		
		</div>

				</fieldset>

				<div class="form-group form-check text-center">
				  <button type="submit" class="btn btn-primary">
				  	Avançar para o cadastro de participantes
				  </button>
				</div>

			 </form>

			 {% else %}

			 	{% if request.user.grupo.cadastro_formal_finalizado %}
					<p class="p-4 text-center text-danger">
						Seu cadastro já foi concluido, aguarde até a equipe PECAFES homologa-lo.
					</p>
				{%else%}
					<p class="p-4 text-center text-info">
						Você já está concluiu esta etapa do cadastro, agora adicione os participantes.
					</p>
				{%endif%}

			 {% endif %}

		</section> 

		<script type="text/javascript">
		  $(`input[name="{{grupoInformalForm.has_entidade_articulada.name}}"]`).change(function(){

			 if(this.value == 1){
				$("#show-entidade-articulada").css({"display": "block"});
			 }else{
				$("#show-entidade-articulada").css({"display": "none"});
			 }

		  });
		</script>

{% endblock %}